# ignore private URL list
/config/layer_urls.txt

# ignore all files in styles/
/styles/*
# but keep the folder itself
!/styles/
# and don’t ignore this one example file
!/styles/example_style.qml

# ignore pycache
__pycache__/
*.py[cod]