# ignore private URL list
/config/layer_urls.local.txt

# ignore all files in styles/
/styles/*
# and don’t ignore this one example file
!/styles/119th congressional districts.qml

# ignore pycache
__pycache__/
*.py[cod]